.header{
    padding: 10px 0;
    margin: 0;

    &__box{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__list{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    &__item{
        margin-left: 20px;
        
    }
  
}
.container{
    width: 1140px;
    margin: 0 auto;
}